 * {
     box-sizing: border-box;
 }

 ::selection {
     color: white;
     background-color: black;
 }

 body {
     font-family: 'Roboto', sans-serif;
     margin: 0;
     padding: 0;
     background-color: white;
     color: hsl(0, 0%, 40%);
 }

 .wrapper {
     width: 75%;
     margin: 0 auto;
     max-width: 2000px;
 }

 header {
     position: fixed;
     background-color: white;
     width: 80%;
     margin: auto;
     padding: 15px 0px 0px 5%;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .name {
     width: 15%;
     font-size: 2.5em;
     font-weight: 350;
     text-align: center;
     color: hsl(0, 0%, 20%);

 }

 nav {
     list-style: none;
     display: flex;
     font-size: 1.5em;

 }

 nav li {
     padding: 10px 1.2em;
 }

 nav li a {
     color: rgb(89, 89, 89);
     text-decoration: underline 0.1em rgba(51, 51, 51, 0);
     transition: text-decoration-color 300ms;
 }

 nav li:hover>a {
     color: rgb(51, 51, 51);
     text-decoration-color: rgba(51, 51, 51, 1);
 }




 section {
     padding: 3em 0px;
     border-bottom: 2px solid hsl(0, 0%, 85%);
 }

 .columns {
     margin: auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 h2 {
     text-align: center;
     color: #000070;
     font-size: 3rem;
     font-weight: 800;
 }

 h3 {
     margin-top: 3em;
 }

 .left {
     width: 30%;
 }

 .left img {
     width: 100%;
     padding: 5%;
 }

 .right {
     width: 60%;
 }

 .project-name {
     text-align: center;
     padding: 30px 0 15px 0;
     color: hsl(240, 85%, 30%);
     font-size: 2rem;
     font-weight: 700;
 }

 .spacer{
    height: 5em;
 }
 footer {
     margin-bottom: 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 footer svg {
     width: 25px;
     height: fit-content;
 }

 footer a {
     text-decoration: none;
     color: #007bff;
 }

 footer> :nth-child(2n) {
     margin-top: 30px;
     margin-bottom: 2px;
 }

 footer> :last-child {
     margin-top: 50px;
 }

 .rights {
     font-size: .5rem;
     color: hsl(0, 0%, 50%);
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 2px;
 }

 .rights p {
     line-height: .5rem;
     margin: 0px;
 }